# The name of the interface to listen on
interface: br-data

http:
  port: 8080

# A list of MAC/IP address pairs for the clients to be booted 
# - The IP addresses must be in an IP range on the interface above
nodes: 
  - hostname: node1
    provisioning_nic: enp1s0f0
    nics:
    - name: enp1s0f0
      mac_address:  00:30:48:9F:C2:02 # MAC address to respond to
      ipv4_address: 172.18.0.21/16    # IP address to assign

  - hostname: node2
    provisioning_nic: enp1s0f0
    nics:
    - name: enp1s0f0
      mac_address:  00:25:90:6a:75:b4 # MAC address to respond to
      ipv4_address: 172.18.0.22/16     # IP address to assign

  - hostname: node3
    provisioning_nic: enp1s0f0
    nics:
    - name: enp1s0f0
      mac_address:  00:25:90:60:b6:14 # MAC address to respond to
      ipv4_address: 172.18.0.23/16    # IP address to assign
# ...

# Optional, if observing or logging in on the serial console
console: ttyS1,115200n8

users:
 - name: core
   # mkpasswd --method=sha256crypt
   # cleartext: core - replace with your value if desired
   password_hash: "$1$ebTQlHxO$unj0Wz5STH9.tMn1yFWYE0"
   # SSH public key
   public_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJDsdnCbVpUYOiqvjys/Ub4VP7Kpe7X98MIUREygC+9Q mark@lab.lamourine.org"
