#
#
#
server: 
  name: myserver          # the hostname of the DHCP/PXE/TFTP/HTTP server
  addr: 0.0.0.0           # the IP address of " " "

network:
  base: 1.2.3.0           # 
  mask: 255.255.255.0     #
  gateway: 1.2.3.1

dns:
  domain: pxe.example.com # domain for the client to query by default
  server: 1.2.3.2         #

client:
  mac: 00:11:22:33:44:55  # MAC address to respond to
  address: 1.2.3.10       # IP address to assign
