#!ipxe
kernel http://{{ network.addr }}:{{ http.port }}/coreos/kernel initrd=main coreos.live.rootfs_url=http://{{ network.addr }}:{{ http.port }}/coreos/rootfs.img ignition.platform.id=metal ignition.firstboot console=ttyS1,115200n8
initrd --name main http://{{ network.addr }}:{{ http.port }}/coreos/initrd.img
boot
