{
  "ignition": {"version": "3.3.0-experimental"},
  "passwd": {
    "users": [
      {
        "name": "{{ user.name }}",
        "passwordHash": "{{ user.password_hash }}",
        "sshAuthorizedKeys": [
          "{{ user.public_key }}"
        ]
    ]
  },
  "kernelArguments": {
    "shouldExist": ["console=ttyS1"],
    "shouldNotExist": ["console=tty0", "console=ttyS0,112800n8", "console=ttyS0"]
  }
}
