variant: fcos
version: 1.3.0
passwd:
  users:
    - name: {{ user.name }}
      ssh_authorized_keys:
        - {{ user.public_key }}
      password_hash: {{ user.password_hash }}
systemd:
  units:
    - name: serial-getty@ttyS0.service
      dropins:
      - name: autologin-core.conf
        contents: |
          [Service]
          # Override Execstart in main unit
          ExecStart=
          # Add new Execstart with `-` prefix to ignore failure
          ExecStart=-/usr/sbin/agetty --autologin core --noclear %I $TERM
          TTYVTDisallocate=no