#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp-server/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
# server:
#   name: <fqdn>
#   addr: <dotted_quad>
# dns:
#   domain: <fqdn>
#   server: <dotted_quad>
# network:
#   base: <dotted_quad>
#   mask: <dotted_quad>
#   gateway: <dotted_quad>
# client:
#   mac: <mac_addr>
#   address: <dotted_quad>

server-name "{{ server.name }}";

option domain-name "{{ dns.domain }}";
option domain-name-servers {{ dns.server }} ;

default-lease-time 600;
max-lease-time 7200;

allow booting;
allow bootp;

# Define iPXE parameter base


subnet {{ network.base }} netmask {{ network.mask }} {
  option routers {{ network.gateway }};
}

host  pxeclient {
  hardware ethernet {{ client.mac }}; 
  fixed-address {{ client.address }};
  next-server {{ server.addr }};
  filename "pxelinux.0";
}
