
server-name "{{ listen_on.addr }}" ;

option domain-name "{{ dns.domain }}" ;
option domain-name-servers {{ dns.nameserver }} ;

subnet {{ network.base }} netmask {{ network.mask }} {
  option routers {{ network.gate }} ;
}
