#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp-server/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
# server:
#   name: <fqdn>
#   addr: <dotted_quad>
# dns:
#   domain: <fqdn>
#   server: <dotted_quad>
# network:
#   base: <dotted_quad>
#   mask: <dotted_quad>
#   gateway: <dotted_quad>
# client:
#   mac: <mac_addr>
#   address: <dotted_quad>

{%- for node in nodes %}

host pxeclient-{{ node.hostname }} {
{%- for nic in node.nics %}
{%- set ipv4_address = nic.ipv4_address.split('/')[0] %}
  hardware ethernet {{ nic.mac_address | lower }} ;
  fixed-address {{ ipv4_address }} ;
{%- endfor %}  
{%- if node.provisioning_nic is defined %}
  next-server {{ network.addr }} ;
  if exists user-class and option user-class = "iPXE" {
    filename "http://{{ network.addr }}:{{ http.port }}/ipxe/{{ node.hostname }}.ipxe";
  } elsif option client-architecture = 00:00 {
    filename "undionly.kpxe";
  } else {
    filename "ipxe.efi";
  }
{%- endif %}
}
{%- endfor %}
